/* POTION BUBBLES */
@keyframes bubble {
  0% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  30% {
    transform: translate(-2px, 5px);
    opacity: .5;
  }
  50% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-2px, -4px);
  }
  85% {
    transform: translate(3px, -7px);
  }
  100%{
    opacity: 1;
    transform: translate(10px, -10px);
  }
}
@keyframes bubble-large {
  0% {
    transform: translate(0px, 25px);
    opacity: 0;
  }
  15% {
    transform: translate(4px, 15px);
    opacity: .5;
  }
  30% {
    transform: translate(2px, 5px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  70% {
    transform: translate(2px, -4px);
  }
  85% {
    transform: translate(-3px, -7px);
  }
  100%{
    opacity: 1;
    transform: translate(-10px, -10px);
  }
}
