/*
  COLORS:
  main: #22313F;
*/

body {
  font-size: 16px;
  font-family: sans-serif;
}

/* BATTLE LOG */
.battle-log {
  margin: 10px 0;
  border: 5px solid #1f1f30;
  background: #3d3e4b;
  color: #fff;
  border-radius: 4px;
}
.battle-log-header {
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #1f1f30;
}
#log {
  overflow: scroll;
  height: 150px;
  margin: 0;
  padding: 5px 15px;
}

.battle-nav {
  margin: 0 auto 70px;
  display: flex;
  justify-content: center;
}

/* TURN COUNTER */
.turn-counter {
  margin: auto;
  margin-top: 0;
  width: 25px;
  background-color: #3d3e4b;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  border-radius: 50%;
  padding: 2px 3px;
  position: relative;
  top: 8px;
  order: 2;
}
@media (min-width: 768px) {
  .turn-counter {
    width: 40px;
    padding: 6px 1px;
  }
}

/* HEALTH BARS */
.health-container {
  margin: 0 auto;
  max-width: 500px;
}
.health {
  margin: auto;
  margin-top: 0;
  width: 46%;
  max-width: 300px;
  padding: 0 1%;
}
.health.enemy {
  order: 3;
}
.healthbar {
  height: 20px;
  background: green;
  width: 100%;
  margin: 4px 0;
}
.healthbar.yellow {
  background: yellow;
  width: 70%;
}
.healthbar.red {
  background: red;
  width: 30%;
}
.healthbar.gray {
  background: gray;
  width: 2px;
}

/* POTIONS */
.potion {
  height: 50px;
  width: 50px;
  display: inline-block;
  cursor: pointer;
}
.potion.gray {
  background: gray;
  cursor: not-allowed;
}
.flask {

}
.small-bubble {
}
.large-bubble {
}
/* svg attrib from Noun Project */
text {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

/* TURN BUTTON */
#take-turn {
  cursor: pointer;
  border: none;
  background: #1f1f30;
  color: #fff;
  padding: 12px 18px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
#take-turn.disabled,
#take-turn:disabled {
  background: rgba(31, 31, 48, .5);
  cursor: not-allowed;
}
